{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}

{% block title %}Admin - Demand Data / List{% endblock %}

{% block body %}
    <div class="col-md-12 well">
        <legend>Demand Data</legend>
        {{ f.data_search('admin.data_demand', form) }}
    </div>
    {% if data.total == 0 %}
        <h3>No results found</h3>
        {% if request.args.get('q') or request.args.get('start') or request.args.get('end') %}
            <p>Try limiting or removing your search terms.</p>
        {% else %}
            <p>There are no demand data present
        {% endif %}
    {% else %}
        <table class="table table-striped">
            <thead>
            <tr>
                 <th class="col-header">
                    {{ items.sort('capture_time', 'Data Time') }}
                </th>
                <th class="col-header">
                    {{ items.sort('meter.serial_number', 'Serial Number') }}
                </th>
                <th class="col-header">
                    {{ items.sort('meter.sequence_number', 'Sequence Number') }}
                </th>
                <th class="col-header">
                    {{ items.sort('voltage_x', 'Voltage Phase') }}
                </th>
                <th class="col-header">
                    {{ items.sort('current_x', 'Current Phase') }}
                </th>
                <th class="col-header">
                    {{ items.sort('current_neutral', 'Current Neutral') }}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for x in data.items %}
                <tr>
                    <td>{{ x.capture_time }}</td>
                    <td>{{ x.meter.serial_number }}</td>
                    <td>{{ x.meter.sequence_number }}</td>
                    <td>{{ x.voltage_x }}</td>
                    <td>{{ x.current_x }}</td>
                    <td>{{ x.current_neutral }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ items.paginate(data) }}
    {% endif %}
{% endblock %}
